<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>House Price Prediction</title>
</head>
<body>
    <h2>This is a house price prediction</h2>

    { % for message in get_flashed_messages() %}
        <h3>    {{message}}</h3>
    {% endfor %}  
    <form action="" method ="POST">  
        {{myform.hidden_tag()}}        
        
        {{myform.bedrooms.label()}}         
        {{myform.bedrooms()}} 
        
        <br /><br />

        {{myform.bathrooms.label()}}         
        {{myform.bathrooms()}} 
        
        <br /><br />
        {{myform.sqft_living.label()}}         
        {{myform.sqft_living()}} 

        <br /><br />
        {{myform.floors.label()}}         
        {{myform.floors()}} 

        <br /><br />
        {{myform.sqft_above.label()}}         
        {{myform.sqft_above()}}

        <br /><br />
        {{myform.yr_built.label()}}         
        {{myform.yr_built()}}

        <br /><br />
        {{myform.condition.label()}}         
        {{myform.condition()}}

        <br /><br />
        {{myform.zipcode.label()}}         
        {{myform.zipcode()}}

        <br /><br />
        {{myform.submit()}}   

    </form>
</body>
</html>